div {
    border: 5px;
    border-color:#fbd2c9;
    border-style:solid;
    margin:21px;
}

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300;1,700&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.header {
   background-color: #fbd2c9;
   font-family: 'Merriweather', serif;
   font-size: 35px;
   color: #313e61;
   text-align: center;
   padding: 30px 10px 30px 10px;
}

.content {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color:#313e61;
    text-align: left;
    padding: 30px 10px 30px 10px;

}

.footer {
  background-color: #fbd2c9;
  padding: 30px 10px 30px 10px;
}

@media screen and (max-width: 767px) {
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .header {
    width: 90%;
    font-size: 27px;
    margin: 0 auto;
  }
  .footer {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .content {
    width: 95%;
    margin: 0 auto;
  }
  .header {
    width: 95%;
    font-size: 35px;
    margin: 0 auto;
  }
  .footer {
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .content {
    width: 95%;
    margin: 0 auto;
  }
  .header {
    width: 95%;
    font-size: 35px;
    margin: 0 auto;
  }
  .footer {
    width: 95%;
    margin: 0 auto;
  }
}

